USE [HotelSoftware]
GO
/****** Object:  Table [dbo].[ChiTietPhieuThue]    Script Date: 5/8/2020 9:51:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ChiTietPhieuThue](
	[MaChiTietPhieuThue] [varchar](8) NOT NULL,
	[NgayVao] [date] NULL,
	[NgayRa] [date] NULL,
	[HinhThucThue] [bit] NULL,
	[SoLuongKhach] [tinyint] NULL,
	[MaPhong] [varchar](8) NULL,
	[MaPhieuThuePhong] [varchar](8) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaChiTietPhieuThue] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DichVu]    Script Date: 5/8/2020 9:51:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DichVu](
	[MaDV] [varchar](8) NOT NULL,
	[TenDV] [nvarchar](20) NULL,
	[DonGia] [float] NULL,
	[MaLoaiDV] [varchar](8) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 5/8/2020 9:51:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HoaDon](
	[MaHoaDon] [varchar](8) NOT NULL,
	[TienPhong] [float] NULL,
	[TienDV] [float] NULL,
	[TongTien] [float] NULL,
	[HinhThucThanhToan] [bit] NULL,
	[NgayThanhToan] [date] NULL,
	[GhiChu] [nvarchar](500) NULL,
	[MaPhieuThuePhong] [varchar](8) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHoaDon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 5/8/2020 9:51:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKH] [varchar](8) NOT NULL,
	[TenKH] [nvarchar](30) NULL,
	[SoCMND] [char](12) NULL,
	[DiaChi] [nvarchar](20) NULL,
	[SDT] [char](12) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LoaiDichVu]    Script Date: 5/8/2020 9:51:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LoaiDichVu](
	[MaLoaiDV] [varchar](8) NOT NULL,
	[TenLoaiDV] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLoaiDV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LoaiPhong]    Script Date: 5/8/2020 9:51:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LoaiPhong](
	[MaLoai] [varchar](8) NOT NULL,
	[TenLoai] [nvarchar](30) NULL,
	[SoNguoi] [tinyint] NULL,
	[GhiChu] [nvarchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 5/8/2020 9:51:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MaNV] [varchar](8) NOT NULL,
	[TenTk] [varchar](30) NULL,
	[MatKhau] [varchar](30) NULL,
	[Quyen] [bit] NULL,
	[HoTen] [nvarchar](30) NULL,
	[NgaySinh] [date] NULL,
	[SDT] [char](12) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PhieuSuDungDichVu]    Script Date: 5/8/2020 9:51:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PhieuSuDungDichVu](
	[MaSD] [varchar](8) NOT NULL,
	[NgaySD] [date] NULL,
	[SoLuong] [tinyint] NULL,
	[GiaTien] [float] NULL,
	[MaDV] [varchar](8) NULL,
	[MaChiTietPhieuThue] [varchar](8) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PhieuThuePhong]    Script Date: 5/8/2020 9:51:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PhieuThuePhong](
	[MaPhieuThuePhong] [varchar](8) NOT NULL,
	[GhiChu] [nvarchar](250) NULL,
	[MaKH] [varchar](8) NULL,
	[MaNV] [varchar](8) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPhieuThuePhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Phong]    Script Date: 5/8/2020 9:51:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Phong](
	[MaPhong] [varchar](8) NOT NULL,
	[TenPhong] [nvarchar](20) NULL,
	[TinhTrang] [tinyint] NULL,
	[DienTich] [int] NULL,
	[GiaThue] [float] NULL,
	[MaLoai] [varchar](8) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[ChiTietPhieuThue] ([MaChiTietPhieuThue], [NgayVao], [NgayRa], [HinhThucThue], [SoLuongKhach], [MaPhong], [MaPhieuThuePhong]) VALUES (N'MCTPT01', CAST(N'2019-08-07' AS Date), CAST(N'2019-08-20' AS Date), 0, 2, N'MP01', N'MPTP01')
INSERT [dbo].[ChiTietPhieuThue] ([MaChiTietPhieuThue], [NgayVao], [NgayRa], [HinhThucThue], [SoLuongKhach], [MaPhong], [MaPhieuThuePhong]) VALUES (N'MCTPT02', CAST(N'2019-08-03' AS Date), CAST(N'2019-08-30' AS Date), 1, 1, N'MP02', N'MPTP02')
INSERT [dbo].[ChiTietPhieuThue] ([MaChiTietPhieuThue], [NgayVao], [NgayRa], [HinhThucThue], [SoLuongKhach], [MaPhong], [MaPhieuThuePhong]) VALUES (N'MCTPT03', CAST(N'2019-12-07' AS Date), CAST(N'2019-12-17' AS Date), 1, 2, N'MP03', N'MPTP03')
INSERT [dbo].[DichVu] ([MaDV], [TenDV], [DonGia], [MaLoaiDV]) VALUES (N'MDV01', N'mì xào hải sản', 100000, N'MLDV01')
INSERT [dbo].[DichVu] ([MaDV], [TenDV], [DonGia], [MaLoaiDV]) VALUES (N'MDV02', N'tôm hùm hấp bia', 1000000, N'MLDV01')
INSERT [dbo].[DichVu] ([MaDV], [TenDV], [DonGia], [MaLoaiDV]) VALUES (N'MDV03', N'cơm rang hải sản', 70000, N'MLDV01')
INSERT [dbo].[HoaDon] ([MaHoaDon], [TienPhong], [TienDV], [TongTien], [HinhThucThanhToan], [NgayThanhToan], [GhiChu], [MaPhieuThuePhong]) VALUES (N'MHD01', 3820000, 1000000, 4820000, 0, CAST(N'2019-08-07' AS Date), N'', N'MPTP01')
INSERT [dbo].[HoaDon] ([MaHoaDon], [TienPhong], [TienDV], [TongTien], [HinhThucThanhToan], [NgayThanhToan], [GhiChu], [MaPhieuThuePhong]) VALUES (N'MHD02', 1000000, 232321, 1232321, 1, CAST(N'2019-08-03' AS Date), N'', N'MPTP02')
INSERT [dbo].[HoaDon] ([MaHoaDon], [TienPhong], [TienDV], [TongTien], [HinhThucThanhToan], [NgayThanhToan], [GhiChu], [MaPhieuThuePhong]) VALUES (N'MHD03', 800000, 200000, 100000, 1, CAST(N'2019-12-07' AS Date), N'', N'MPTP03')
INSERT [dbo].[KhachHang] ([MaKH], [TenKH], [SoCMND], [DiaChi], [SDT]) VALUES (N'MKH01', N'Nhật Thị Mai', N'152222791   ', N'Nghệ An', N'0320619713  ')
INSERT [dbo].[KhachHang] ([MaKH], [TenKH], [SoCMND], [DiaChi], [SDT]) VALUES (N'MKH02', N'Cao Thái Thuý', N'152222754   ', N'Hà Nội', N'0360016137  ')
INSERT [dbo].[KhachHang] ([MaKH], [TenKH], [SoCMND], [DiaChi], [SDT]) VALUES (N'MKH03', N'Dương Cao Kỳ Hà', N'120746600   ', N'Quảng Bình', N'0450418548  ')
INSERT [dbo].[LoaiDichVu] ([MaLoaiDV], [TenLoaiDV]) VALUES (N'MLDV01', N'đồ ăn')
INSERT [dbo].[LoaiDichVu] ([MaLoaiDV], [TenLoaiDV]) VALUES (N'MLDV02', N'đồ uống')
INSERT [dbo].[LoaiDichVu] ([MaLoaiDV], [TenLoaiDV]) VALUES (N'MLDV03', N'spa')
INSERT [dbo].[LoaiPhong] ([MaLoai], [TenLoai], [SoNguoi], [GhiChu]) VALUES (N'MLP01', N'deluxe', 3, N'2 giường, 1 điều hòa, 1 tivi')
INSERT [dbo].[LoaiPhong] ([MaLoai], [TenLoai], [SoNguoi], [GhiChu]) VALUES (N'MLP02', N'luxury', 3, N'2 giường, 1 điều hòa, 1tivi')
INSERT [dbo].[LoaiPhong] ([MaLoai], [TenLoai], [SoNguoi], [GhiChu]) VALUES (N'MLP03', N'superio', 2, N'2 giường, 1 điều hòa, 1 tivi')
INSERT [dbo].[NhanVien] ([MaNV], [TenTk], [MatKhau], [Quyen], [HoTen], [NgaySinh], [SDT]) VALUES (N'MNV01', N'datproqhna', N'1', 1, N'Phạm Hoài Lam', CAST(N'1982-12-20' AS Date), N'0920503767  ')
INSERT [dbo].[NhanVien] ([MaNV], [TenTk], [MatKhau], [Quyen], [HoTen], [NgaySinh], [SDT]) VALUES (N'MNV02', N'1', N'1', 1, N'Văn Thu Anh', CAST(N'1982-12-21' AS Date), N'0450035805  ')
INSERT [dbo].[NhanVien] ([MaNV], [TenTk], [MatKhau], [Quyen], [HoTen], [NgaySinh], [SDT]) VALUES (N'MNV03', N'2', N'1', 1, N'Phạm Hoài Hương', CAST(N'1982-12-22' AS Date), N'0960375532  ')
INSERT [dbo].[PhieuSuDungDichVu] ([MaSD], [NgaySD], [SoLuong], [GiaTien], [MaDV], [MaChiTietPhieuThue]) VALUES (N'MPDV01', CAST(N'2019-08-07' AS Date), 7, 700000, N'MDV01', N'MCTPT01')
INSERT [dbo].[PhieuSuDungDichVu] ([MaSD], [NgaySD], [SoLuong], [GiaTien], [MaDV], [MaChiTietPhieuThue]) VALUES (N'MPDV02', CAST(N'2019-08-03' AS Date), 4, 4000000, N'MDV02', N'MCTPT02')
INSERT [dbo].[PhieuSuDungDichVu] ([MaSD], [NgaySD], [SoLuong], [GiaTien], [MaDV], [MaChiTietPhieuThue]) VALUES (N'MPDV03', CAST(N'2019-12-07' AS Date), 4, 280000, N'MDV03', N'MCTPT03')
INSERT [dbo].[PhieuThuePhong] ([MaPhieuThuePhong], [GhiChu], [MaKH], [MaNV]) VALUES (N'MPTP01', N'', N'MKH01', N'MNV01')
INSERT [dbo].[PhieuThuePhong] ([MaPhieuThuePhong], [GhiChu], [MaKH], [MaNV]) VALUES (N'MPTP02', N'', N'MKH02', N'MNV02')
INSERT [dbo].[PhieuThuePhong] ([MaPhieuThuePhong], [GhiChu], [MaKH], [MaNV]) VALUES (N'MPTP03', N'', N'MKH03', N'MNV03')
INSERT [dbo].[Phong] ([MaPhong], [TenPhong], [TinhTrang], [DienTich], [GiaThue], [MaLoai]) VALUES (N'MP01', N'101', 0, 100, 400000, N'MLP02')
INSERT [dbo].[Phong] ([MaPhong], [TenPhong], [TinhTrang], [DienTich], [GiaThue], [MaLoai]) VALUES (N'MP02', N'102', 1, 100, 400000, N'MLP02')
INSERT [dbo].[Phong] ([MaPhong], [TenPhong], [TinhTrang], [DienTich], [GiaThue], [MaLoai]) VALUES (N'MP03', N'103', 1, 70, 800000, N'MLP04')
ALTER TABLE [dbo].[ChiTietPhieuThue]  WITH CHECK ADD FOREIGN KEY([MaPhieuThuePhong])
REFERENCES [dbo].[PhieuThuePhong] ([MaPhieuThuePhong])
GO
ALTER TABLE [dbo].[ChiTietPhieuThue]  WITH CHECK ADD FOREIGN KEY([MaPhong])
REFERENCES [dbo].[Phong] ([MaPhong])
GO
ALTER TABLE [dbo].[DichVu]  WITH CHECK ADD FOREIGN KEY([MaLoaiDV])
REFERENCES [dbo].[LoaiDichVu] ([MaLoaiDV])
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD FOREIGN KEY([MaPhieuThuePhong])
REFERENCES [dbo].[PhieuThuePhong] ([MaPhieuThuePhong])
GO
ALTER TABLE [dbo].[PhieuSuDungDichVu]  WITH CHECK ADD FOREIGN KEY([MaChiTietPhieuThue])
REFERENCES [dbo].[ChiTietPhieuThue] ([MaChiTietPhieuThue])
GO
ALTER TABLE [dbo].[PhieuSuDungDichVu]  WITH CHECK ADD FOREIGN KEY([MaDV])
REFERENCES [dbo].[DichVu] ([MaDV])
GO
ALTER TABLE [dbo].[PhieuThuePhong]  WITH CHECK ADD FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHang] ([MaKH])
GO
ALTER TABLE [dbo].[PhieuThuePhong]  WITH CHECK ADD FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[Phong]  WITH CHECK ADD FOREIGN KEY([MaLoai])
REFERENCES [dbo].[LoaiPhong] ([MaLoai])
GO
/****** Object:  StoredProcedure [dbo].[addCus]    Script Date: 5/8/2020 9:51:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
	 CREATE PROC [dbo].[addCus](@MAKH VARCHAR(8), @TENKH NVARCHAR(30), @CMND CHAR(12), @DIACHI NVARCHAR(20), @SDT CHAR(12))
	 AS
	 BEGIN
		INSERT INTO KhachHang (MaKH, TenKH, SoCMND, DiaChi, SDT) 
		VALUES (@MAKH, @TENKH, @CMND, @DIACHI, @SDT)
	 END
GO
/****** Object:  StoredProcedure [dbo].[addEmp]    Script Date: 5/8/2020 9:51:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
	 CREATE PROC [dbo].[addEmp](@MANV VARCHAR(8), @HOTEN NVARCHAR(30), @NGAYSINH DATE, @SDT CHAR(12))
	 AS
	 BEGIN
		INSERT INTO NhanVien (MaNV, HoTen, NgaySinh, SDT) 
		VALUES (@MANV, @HOTEN, @NGAYSINH, @SDT)
	 END
GO
/****** Object:  StoredProcedure [dbo].[changePass]    Script Date: 5/8/2020 9:51:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[changePass](@matkhauhientai varchar(30), @idnv varchar(8))
as
UPDATE dbo.NhanVien 
SET MatKhau= @matkhauhientai
WHERE MaNV= @idnv
GO
/****** Object:  StoredProcedure [dbo].[delCus]    Script Date: 5/8/2020 9:51:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[delCus](@MAKH VARCHAR(8))
	 AS
	 BEGIN
		DELETE dbo.ChiTietPhieuThue 
			 WHERE dbo.ChiTietPhieuThue.MaPhieuThuePhong = (SELECT dbo.ChiTietPhieuThue.MaPhieuThuePhong 
															FROM dbo.KhachHang, dbo.PhieuThuePhong, dbo.ChiTietPhieuThue
															WHERE dbo.KhachHang.MaKH = dbo.PhieuThuePhong.MaKH AND
															dbo.ChiTietPhieuThue.MaPhieuThuePhong = PhieuThuePhong.MaPhieuThuePhong AND
															@MaKH = dbo.PhieuThuePhong.MaKH)
			 DELETE dbo.HoaDon WHERE dbo.HoaDon.MaPhieuThuePhong = (SELECT dbo.HoaDon.MaPhieuThuePhong
																		  FROM dbo.KhachHang, dbo.PhieuThuePhong, dbo.HoaDon
																		  WHERE dbo.KhachHang.MaKH = dbo.PhieuThuePhong.MaKH AND
																		  dbo.HoaDon.MaPhieuThuePhong = PhieuThuePhong.MaPhieuThuePhong AND
																		  @MaKH = dbo.PhieuThuePhong.MaKH)
			 DELETE dbo.PhieuThuePhong WHERE @MaKH = dbo.PhieuThuePhong.MaKH
			 DELETE dbo.KhachHang WHERE MaKH=@MaKH
	 END
GO
/****** Object:  StoredProcedure [dbo].[delEmp]    Script Date: 5/8/2020 9:51:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
	 CREATE PROC [dbo].[delEmp](@MANV VARCHAR(8))
	 AS
	 BEGIN
			 DELETE dbo.ChiTietPhieuThue 
			 WHERE dbo.ChiTietPhieuThue.MaPhieuThuePhong = (SELECT dbo.ChiTietPhieuThue.MaPhieuThuePhong 
															FROM dbo.NhanVien, dbo.PhieuThuePhong, dbo.ChiTietPhieuThue
															WHERE dbo.NhanVien.MaNV = dbo.PhieuThuePhong.MaNV AND
															dbo.ChiTietPhieuThue.MaPhieuThuePhong = PhieuThuePhong.MaPhieuThuePhong AND
															@MANV = dbo.PhieuThuePhong.MaNV)
			 DELETE dbo.HoaDon WHERE dbo.HoaDon.MaPhieuThuePhong = (SELECT dbo.HoaDon.MaPhieuThuePhong
																		  FROM dbo.NhanVien, dbo.PhieuThuePhong, dbo.HoaDon
																		  WHERE dbo.NhanVien.MaNV = dbo.PhieuThuePhong.MaNV AND
																		  dbo.HoaDon.MaPhieuThuePhong = PhieuThuePhong.MaPhieuThuePhong AND
																		  @MANV = dbo.PhieuThuePhong.MaNV)
			 DELETE dbo.PhieuThuePhong WHERE @MANV = dbo.PhieuThuePhong.MaNV
			 DELETE dbo.NhanVien WHERE MaNV=@MANV
	 END
GO
/****** Object:  StoredProcedure [dbo].[getAcc1]    Script Date: 5/8/2020 9:51:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[getAcc1]
as
SELECT dbo.NhanVien.MaNV, dbo.NhanVien.HoTen, dbo.NhanVien.TenTk, dbo.NhanVien.MatKhau, 
CASE WHEN Quyen=0 THEN N'Lễ Tân' WHEN Quyen=1 THEN N'Quản Lý' 
END AS Quyen
FROM dbo.NhanVien
GO
/****** Object:  StoredProcedure [dbo].[getAccount]    Script Date: 5/8/2020 9:51:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[getAccount]
AS 
SELECT dbo.NhanVien.MaNV, dbo.NhanVien.HoTen, dbo.NhanVien.TenTk, dbo.NhanVien.MatKhau, Quyen,
CASE WHEN Quyen=0 THEN N'Lễ Tân' WHEN Quyen=1 THEN N'Quản Lý' 
END AS Quyen 
FROM dbo.NhanVien
GO
/****** Object:  StoredProcedure [dbo].[getallCus]    Script Date: 5/8/2020 9:51:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[getallCus]
AS SELECT * FROM dbo.KhachHang
GO
/****** Object:  StoredProcedure [dbo].[getallEmp]    Script Date: 5/8/2020 9:51:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[getallEmp]
AS SELECT dbo.NhanVien.MaNV, dbo.NhanVien.HoTen, NgaySinh, SDT FROM dbo.NhanVien
GO
/****** Object:  StoredProcedure [dbo].[getCusFrPhieuThue]    Script Date: 5/8/2020 9:51:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[getCusFrPhieuThue](@maphieuthue Varchar(30))
AS
BEGIN
SELECT KhachHang.MaKH, TenKH, SoCMND, KhachHang.SDT, DiaChi, HoTen FROM
dbo.NhanVien,dbo.KhachHang,dbo.PhieuThuePhong WHERE
dbo.KhachHang.MaKH = dbo.PhieuThuePhong.MaKH AND
dbo.NhanVien.MaNV = dbo.PhieuThuePhong.MaNV AND
@maphieuthue = MaPhieuThuePhong
end

GO
/****** Object:  StoredProcedure [dbo].[getIdMPT]    Script Date: 5/8/2020 9:51:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[getIdMPT]
AS
BEGIN
	SELECT dbo.PhieuThuePhong.MaPhieuThuePhong FROM dbo.PhieuThuePhong
end
GO
/****** Object:  StoredProcedure [dbo].[getIdNV]    Script Date: 5/8/2020 9:51:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[getIdNV](@TenTk varchar(30), @MatKhau varchar(30))
as
SELECT dbo.NhanVien.MaNV FROM dbo.NhanVien
WHERE dbo.NhanVien.TenTk = @TenTk AND  MatKhau = @MatKhau
GO
/****** Object:  StoredProcedure [dbo].[logIn]    Script Date: 5/8/2020 9:51:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[logIn](@tentk varchar(30), @matkhau varchar(30))
AS
begin
SELECT * FROM dbo.NhanVien WHERE dbo.NhanVien.TenTk=@tentk AND dbo.NhanVien.MatKhau=@matkhau
end
GO
/****** Object:  StoredProcedure [dbo].[tienDvDetail]    Script Date: 5/8/2020 9:51:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[tienDvDetail](@maptp varchar(8))
as
SELECT Phong.TenPhong, dbo.DichVu.TenDV, dbo.PhieuSuDungDichVu.NgaySD, dbo.PhieuSuDungDichVu.SoLuong, dbo.PhieuSuDungDichVu.SoLuong*dbo.DichVu.DonGia AS tiendv
FROM dbo.Phong, dbo.ChiTietPhieuThue, dbo.PhieuThuePhong, dbo.PhieuSuDungDichVu, dbo.DichVu
WHERE ChiTietPhieuThue.MaPhong = Phong.MaPhong AND dbo.ChiTietPhieuThue.MaPhieuThuePhong = PhieuThuePhong.MaPhieuThuePhong AND
dbo.ChiTietPhieuThue.MaChiTietPhieuThue = dbo.PhieuSuDungDichVu.MaChiTietPhieuThue AND dbo.PhieuSuDungDichVu.MaDV = dbo.DichVu.MaDV AND
PhieuThuePhong.MaPhieuThuePhong = @maptp
GO
/****** Object:  StoredProcedure [dbo].[tienphongDetail]    Script Date: 5/8/2020 9:51:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[tienphongDetail](@mptp VARCHAR(8))
as
SELECT phong.TenPhong, dbo.ChiTietPhieuThue.NgayVao, dbo.ChiTietPhieuThue.NgayRa, 
DATEDIFF(DAY, dbo.ChiTietPhieuThue.NgayVao, dbo.ChiTietPhieuThue.NgayRa) AS SoNgayO, dbo.Phong.GiaThue*DATEDIFF(DAY, dbo.ChiTietPhieuThue.NgayVao, dbo.ChiTietPhieuThue.NgayRa) AS TienPhong
FROM dbo.Phong, dbo.ChiTietPhieuThue, dbo.PhieuThuePhong 
WHERE dbo.Phong.MaPhong = dbo.ChiTietPhieuThue.MaPhong AND dbo.ChiTietPhieuThue.MaPhieuThuePhong = dbo.PhieuThuePhong.MaPhieuThuePhong
AND PhieuThuePhong.MaPhieuThuePhong = @mptp
GO
/****** Object:  StoredProcedure [dbo].[updateAcc]    Script Date: 5/8/2020 9:51:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[updateAcc](@MANV VARCHAR(8), @tenTK varchar(30), @matkhau varchar(30), @quyen bit)
AS
BEGIN
	UPDATE NhanVien SET TenTk=@tenTK, MatKhau=@matkhau, Quyen=@quyen
	WHERE MaNV=@MANV;
END
GO
/****** Object:  StoredProcedure [dbo].[updateCus]    Script Date: 5/8/2020 9:51:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[updateCus](@MAKH VARCHAR(8), @TENKH NVARCHAR(30), @CMND CHAR(12), @DIACHI NVARCHAR(20), @SDT CHAR(12))
	 AS
	 BEGIN
		UPDATE KhachHang SET TenKH=@TENKH, SoCMND=@CMND, DiaChi=@DIACHI, SDT=@SDT 
		WHERE MaKH=@MAKH;
	 END
GO
/****** Object:  StoredProcedure [dbo].[updateEmp]    Script Date: 5/8/2020 9:51:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
	 CREATE PROC [dbo].[updateEmp](@MANV VARCHAR(8), @HOTEN NVARCHAR(30), @NGAYSINH DATE, @SDT CHAR(12))
	 AS
	 BEGIN
		UPDATE NhanVien SET HoTen=@HOTEN, NgaySinh=@NGAYSINH, SDT=@SDT
		WHERE MaNV=@MANV;
	 END
GO
/****** Object:  StoredProcedure [dbo].[wellCome]    Script Date: 5/8/2020 9:51:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[wellCome](@TenTk varchar(30), @MatKhau varchar(30))
as
SELECT dbo.NhanVien.HoTen FROM dbo.NhanVien 
WHERE dbo.NhanVien.TenTk = @TenTk AND MatKhau = @MatKhau
GO

------------------------------------------hoadon
alter PROC creatBill(@maHD VARCHAR(8), @tienphong FLOAT, @tiendv FLOAT, @tongtien FLOAT, @hinhthuctt BIT, @ngaytt DATE, @ghichu NVARCHAR(500), @mptp varchar(8))
as
INSERT dbo.HoaDon(MaHoaDon, TienPhong, TienDV, TongTien, HinhThucThanhToan, NgayThanhToan, GhiChu, MaPhieuThuePhong) VALUES
(@maHD, @tienphong, @tiendv, @tongtien, @hinhthuctt, @ngaytt, @ghichu, @mptp)

alter PROC getHTTT
as
SELECT DISTINCT 
CASE WHEN HinhThucThanhToan = 0 THEN N'Tiền mặt' WHEN HinhThucThanhToan = 1 THEN N'Thẻ'
END AS httt
FROM dbo.HoaDon

SELECT * FROM dbo.HoaDon

SELECT * FROM dbo.PhieuThuePhong

CREATE PROC getDoanhThuTienPhong(@ngayvaochon date, @ngayrachon date)
as
SELECT phong.TenPhong, dbo.ChiTietPhieuThue.NgayVao, dbo.ChiTietPhieuThue.NgayRa, 
DATEDIFF(DAY, dbo.ChiTietPhieuThue.NgayVao, dbo.ChiTietPhieuThue.NgayRa) AS SoNgayO, dbo.Phong.GiaThue*DATEDIFF(DAY, dbo.ChiTietPhieuThue.NgayVao, dbo.ChiTietPhieuThue.NgayRa) AS TienPhong
FROM dbo.Phong, dbo.ChiTietPhieuThue, dbo.PhieuThuePhong 
WHERE dbo.Phong.MaPhong = dbo.ChiTietPhieuThue.MaPhong AND dbo.ChiTietPhieuThue.MaPhieuThuePhong = dbo.PhieuThuePhong.MaPhieuThuePhong AND
NgayVao > @ngayvaochon AND NgayRa < @ngayrachon

CREATE PROC getDoanhThuTienDV(@ngayvaochon date, @ngayrachon date)
as
SELECT Phong.TenPhong, dbo.DichVu.TenDV, dbo.PhieuSuDungDichVu.NgaySD, dbo.PhieuSuDungDichVu.SoLuong, dbo.PhieuSuDungDichVu.SoLuong*dbo.DichVu.DonGia AS tiendv
FROM dbo.Phong, dbo.ChiTietPhieuThue, dbo.PhieuThuePhong, dbo.PhieuSuDungDichVu, dbo.DichVu
WHERE ChiTietPhieuThue.MaPhong = Phong.MaPhong AND dbo.ChiTietPhieuThue.MaPhieuThuePhong = PhieuThuePhong.MaPhieuThuePhong AND
dbo.ChiTietPhieuThue.MaChiTietPhieuThue = dbo.PhieuSuDungDichVu.MaChiTietPhieuThue AND dbo.PhieuSuDungDichVu.MaDV = dbo.DichVu.MaDV AND
@ngayvaochon < NgaySD AND NgaySD < @ngayrachon