CREATE DATABASE [HotelSoftware]

USE [HotelSoftware]
GO
/****** Object:  Table [dbo].[ChiTietPhieuThue]    Script Date: 5/7/2020 1:57:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ChiTietPhieuThue](
	[MaChiTietPhieuThue] [varchar](8) NOT NULL,
	[NgayVao] [date] NULL,
	[NgayRa] [date] NULL,
	[HinhThucThue] [bit] NULL,
	[SoLuongKhach] [tinyint] NULL,
	[MaPhong] [varchar](8) NULL,
	[MaPhieuThuePhong] [varchar](8) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaChiTietPhieuThue] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DichVu]    Script Date: 5/7/2020 1:57:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DichVu](
	[MaDV] [varchar](8) NOT NULL,
	[TenDV] [nvarchar](20) NULL,
	[DonGia] [float] NULL,
	[MaLoaiDV] [varchar](8) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 5/7/2020 1:57:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HoaDon](
	[MaHoaDon] [varchar](8) NOT NULL,
	[TienPhong] [float] NULL,
	[TienDV] [float] NULL,
	[TongTien] [float] NULL,
	[HinhThucThanhToan] [bit] NULL,
	[NgayThanhToan] [date] NULL,
	[GhiChu] [nvarchar](500) NULL,
	[MaPhieuThuePhong] [varchar](8) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHoaDon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 5/7/2020 1:57:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKH] [varchar](8) NOT NULL,
	[TenKH] [nvarchar](30) NULL,
	[SoCMND] [char](12) NULL,
	[DiaChi] [nvarchar](20) NULL,
	[SDT] [char](12) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LoaiDichVu]    Script Date: 5/7/2020 1:57:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LoaiDichVu](
	[MaLoaiDV] [varchar](8) NOT NULL,
	[TenLoaiDV] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLoaiDV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LoaiPhong]    Script Date: 5/7/2020 1:57:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LoaiPhong](
	[MaLoai] [varchar](8) NOT NULL,
	[TenLoai] [nvarchar](30) NULL,
	[SoNguoi] [tinyint] NULL,
	[GhiChu] [nvarchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 5/7/2020 1:57:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MaNV] [varchar](8) NOT NULL,
	[TenTk] [varchar](30) NULL,
	[MatKhau] [varchar](30) NULL,
	[Quyen] [bit] NULL,
	[HoTen] [nvarchar](30) NULL,
	[NgaySinh] [date] NULL,
	[SDT] [char](12) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PhieuSuDungDichVu]    Script Date: 5/7/2020 1:57:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PhieuSuDungDichVu](
	[MaSD] [varchar](8) NOT NULL,
	[NgaySD] [date] NULL,
	[SoLuong] [tinyint] NULL,
	[GiaTien] [float] NULL,
	[MaDV] [varchar](8) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PhieuThuePhong]    Script Date: 5/7/2020 1:57:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PhieuThuePhong](
	[MaPhieuThuePhong] [varchar](8) NOT NULL,
	[GhiChu] [nvarchar](250) NULL,
	[MaKH] [varchar](8) NULL,
	[MaNV] [varchar](8) NULL,
	[MaSD] [varchar](8) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPhieuThuePhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Phong]    Script Date: 5/7/2020 1:57:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Phong](
	[MaPhong] [varchar](8) NOT NULL,
	[TenPhong] [nvarchar](20) NULL,
	[TinhTrang] [tinyint] NULL,
	[DienTich] [int] NULL,
	[GiaThue] [float] NULL,
	[MaLoai] [varchar](8) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[ChiTietPhieuThue] ([MaChiTietPhieuThue], [NgayVao], [NgayRa], [HinhThucThue], [SoLuongKhach], [MaPhong], [MaPhieuThuePhong]) VALUES (N'MCTPT01', CAST(N'2019-08-07' AS Date), CAST(N'2019-08-20' AS Date), 0, 2, N'MP01', N'MPTP01')
INSERT [dbo].[ChiTietPhieuThue] ([MaChiTietPhieuThue], [NgayVao], [NgayRa], [HinhThucThue], [SoLuongKhach], [MaPhong], [MaPhieuThuePhong]) VALUES (N'MCTPT02', CAST(N'2019-08-03' AS Date), CAST(N'2019-08-30' AS Date), 1, 1, N'MP02', N'MPTP02')
INSERT [dbo].[ChiTietPhieuThue] ([MaChiTietPhieuThue], [NgayVao], [NgayRa], [HinhThucThue], [SoLuongKhach], [MaPhong], [MaPhieuThuePhong]) VALUES (N'MCTPT03', CAST(N'2019-12-07' AS Date), CAST(N'2019-12-17' AS Date), 1, 2, N'MP03', N'MPTP03')
INSERT [dbo].[DichVu] ([MaDV], [TenDV], [DonGia], [MaLoaiDV]) VALUES (N'MDV01', N'mì xào hải sản', 100000, N'MLDV01')
INSERT [dbo].[DichVu] ([MaDV], [TenDV], [DonGia], [MaLoaiDV]) VALUES (N'MDV02', N'tôm hùm hấp bia', 1000000, N'MLDV01')
INSERT [dbo].[DichVu] ([MaDV], [TenDV], [DonGia], [MaLoaiDV]) VALUES (N'MDV03', N'cơm rang hải sản', 70000, N'MLDV01')
INSERT [dbo].[HoaDon] ([MaHoaDon], [TienPhong], [TienDV], [TongTien], [HinhThucThanhToan], [NgayThanhToan], [GhiChu], [MaPhieuThuePhong]) VALUES (N'MHD01', 3820000, 1000000, 4820000, 0, CAST(N'2019-08-07' AS Date), N'', N'MPTP01')
INSERT [dbo].[HoaDon] ([MaHoaDon], [TienPhong], [TienDV], [TongTien], [HinhThucThanhToan], [NgayThanhToan], [GhiChu], [MaPhieuThuePhong]) VALUES (N'MHD02', 1000000, 232321, 1232321, 1, CAST(N'2019-08-03' AS Date), N'', N'MPTP02')
INSERT [dbo].[HoaDon] ([MaHoaDon], [TienPhong], [TienDV], [TongTien], [HinhThucThanhToan], [NgayThanhToan], [GhiChu], [MaPhieuThuePhong]) VALUES (N'MHD03', 800000, 200000, 100000, 1, CAST(N'2019-12-07' AS Date), N'', N'MPTP03')
INSERT [dbo].[KhachHang] ([MaKH], [TenKH], [SoCMND], [DiaChi], [SDT]) VALUES (N'MKH01', N'Nhật Thị Mai', N'152222791   ', N'Nghệ An', N'0320619713  ')
INSERT [dbo].[KhachHang] ([MaKH], [TenKH], [SoCMND], [DiaChi], [SDT]) VALUES (N'MKH02', N'Cao Thái Thuý', N'152222754   ', N'Hà Nội', N'0360016135  ')
INSERT [dbo].[KhachHang] ([MaKH], [TenKH], [SoCMND], [DiaChi], [SDT]) VALUES (N'MKH03', N'Dương Cao Kỳ Hà', N'120746600   ', N'Quảng Bình', N'0450418548  ')
INSERT [dbo].[LoaiDichVu] ([MaLoaiDV], [TenLoaiDV]) VALUES (N'MLDV01', N'đồ ăn')
INSERT [dbo].[LoaiDichVu] ([MaLoaiDV], [TenLoaiDV]) VALUES (N'MLDV02', N'đồ uống')
INSERT [dbo].[LoaiDichVu] ([MaLoaiDV], [TenLoaiDV]) VALUES (N'MLDV03', N'spa')
INSERT [dbo].[LoaiPhong] ([MaLoai], [TenLoai], [SoNguoi], [GhiChu]) VALUES (N'MLP01', N'deluxe', 3, N'2 giường, 1 điều hòa, 1 tivi')
INSERT [dbo].[LoaiPhong] ([MaLoai], [TenLoai], [SoNguoi], [GhiChu]) VALUES (N'MLP02', N'luxury', 3, N'2 giường, 1 điều hòa, 1tivi')
INSERT [dbo].[LoaiPhong] ([MaLoai], [TenLoai], [SoNguoi], [GhiChu]) VALUES (N'MLP03', N'superio', 2, N'2 giường, 1 điều hòa, 1 tivi')
INSERT [dbo].[NhanVien] ([MaNV], [TenTk], [MatKhau], [Quyen], [HoTen], [NgaySinh], [SDT]) VALUES (N'MNV01', N'datproqhna', N'2', 1, N'Phạm Hoài Lam', CAST(N'1982-12-23' AS Date), N'0920503767  ')
INSERT [dbo].[NhanVien] ([MaNV], [TenTk], [MatKhau], [Quyen], [HoTen], [NgaySinh], [SDT]) VALUES (N'MNV02', N'nv2', N'1', 1, N'Văn Thu Anh', CAST(N'1982-12-21' AS Date), N'0450035805  ')
INSERT [dbo].[NhanVien] ([MaNV], [TenTk], [MatKhau], [Quyen], [HoTen], [NgaySinh], [SDT]) VALUES (N'MNV03', N'nv3', N'1', 0, N'Phạm Hoài Hương', CAST(N'1982-12-22' AS Date), N'0960375532  ')
INSERT [dbo].[PhieuSuDungDichVu] ([MaSD], [NgaySD], [SoLuong], [GiaTien], [MaDV]) VALUES (N'MPDV01', CAST(N'2019-08-07' AS Date), 7, 700000, N'MDV01')
INSERT [dbo].[PhieuSuDungDichVu] ([MaSD], [NgaySD], [SoLuong], [GiaTien], [MaDV]) VALUES (N'MPDV02', CAST(N'2019-08-03' AS Date), 4, 4000000, N'MDV02')
INSERT [dbo].[PhieuSuDungDichVu] ([MaSD], [NgaySD], [SoLuong], [GiaTien], [MaDV]) VALUES (N'MPDV03', CAST(N'2019-12-07' AS Date), 4, 280000, N'MDV03')
INSERT [dbo].[PhieuThuePhong] ([MaPhieuThuePhong], [GhiChu], [MaKH], [MaNV], [MaSD]) VALUES (N'MPTP01', N'', N'MKH01', N'MNV01', N'MPDV01')
INSERT [dbo].[PhieuThuePhong] ([MaPhieuThuePhong], [GhiChu], [MaKH], [MaNV], [MaSD]) VALUES (N'MPTP02', N'', N'MKH02', N'MNV02', N'MPDV02')
INSERT [dbo].[PhieuThuePhong] ([MaPhieuThuePhong], [GhiChu], [MaKH], [MaNV], [MaSD]) VALUES (N'MPTP03', N'', N'MKH03', N'MNV03', N'MPDV03')
INSERT [dbo].[Phong] ([MaPhong], [TenPhong], [TinhTrang], [DienTich], [GiaThue], [MaLoai]) VALUES (N'MP01', N'101', 0, 100, 400000, N'MLP02')
INSERT [dbo].[Phong] ([MaPhong], [TenPhong], [TinhTrang], [DienTich], [GiaThue], [MaLoai]) VALUES (N'MP02', N'102', 1, 100, 400000, N'MLP02')
INSERT [dbo].[Phong] ([MaPhong], [TenPhong], [TinhTrang], [DienTich], [GiaThue], [MaLoai]) VALUES (N'MP03', N'103', 1, 70, 800000, N'MLP04')
ALTER TABLE [dbo].[ChiTietPhieuThue]  WITH CHECK ADD FOREIGN KEY([MaPhieuThuePhong])
REFERENCES [dbo].[PhieuThuePhong] ([MaPhieuThuePhong])
GO
ALTER TABLE [dbo].[ChiTietPhieuThue]  WITH CHECK ADD FOREIGN KEY([MaPhong])
REFERENCES [dbo].[Phong] ([MaPhong])
GO
ALTER TABLE [dbo].[DichVu]  WITH CHECK ADD FOREIGN KEY([MaLoaiDV])
REFERENCES [dbo].[LoaiDichVu] ([MaLoaiDV])
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD FOREIGN KEY([MaPhieuThuePhong])
REFERENCES [dbo].[PhieuThuePhong] ([MaPhieuThuePhong])
GO
ALTER TABLE [dbo].[PhieuSuDungDichVu]  WITH CHECK ADD FOREIGN KEY([MaDV])
REFERENCES [dbo].[DichVu] ([MaDV])
GO
ALTER TABLE [dbo].[PhieuThuePhong]  WITH CHECK ADD FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHang] ([MaKH])
GO
ALTER TABLE [dbo].[PhieuThuePhong]  WITH CHECK ADD FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[PhieuThuePhong]  WITH CHECK ADD FOREIGN KEY([MaSD])
REFERENCES [dbo].[PhieuSuDungDichVu] ([MaSD])
GO
ALTER TABLE [dbo].[Phong]  WITH CHECK ADD FOREIGN KEY([MaLoai])
REFERENCES [dbo].[LoaiPhong] ([MaLoai])
GO
/****** Object:  StoredProcedure [dbo].[addCus]    Script Date: 5/7/2020 1:57:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
	 CREATE PROC [dbo].[addCus](@MAKH VARCHAR(8), @TENKH NVARCHAR(30), @CMND CHAR(12), @DIACHI NVARCHAR(20), @SDT CHAR(12))
	 AS
	 BEGIN
		INSERT INTO KhachHang (MaKH, TenKH, SoCMND, DiaChi, SDT) 
		VALUES (@MAKH, @TENKH, @CMND, @DIACHI, @SDT)
	 END
GO
/****** Object:  StoredProcedure [dbo].[addEmp]    Script Date: 5/7/2020 1:57:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
	 CREATE PROC [dbo].[addEmp](@MANV VARCHAR(8), @HOTEN NVARCHAR(30), @NGAYSINH DATE, @SDT CHAR(12))
	 AS
	 BEGIN
		INSERT INTO NhanVien (MaNV, HoTen, NgaySinh, SDT) 
		VALUES (@MANV, @HOTEN, @NGAYSINH, @SDT)
	 END
GO
/****** Object:  StoredProcedure [dbo].[changePass]    Script Date: 5/7/2020 1:57:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[changePass](@matkhauhientai varchar(30), @idnv varchar(8))
as
UPDATE dbo.NhanVien 
SET MatKhau= @matkhauhientai
WHERE MaNV= @idnv
GO
/****** Object:  StoredProcedure [dbo].[delCus]    Script Date: 5/7/2020 1:57:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[delCus](@MAKH VARCHAR(8))
	 AS
	 BEGIN
		DELETE dbo.ChiTietPhieuThue 
			 WHERE dbo.ChiTietPhieuThue.MaPhieuThuePhong = (SELECT dbo.ChiTietPhieuThue.MaPhieuThuePhong 
															FROM dbo.KhachHang, dbo.PhieuThuePhong, dbo.ChiTietPhieuThue
															WHERE dbo.KhachHang.MaKH = dbo.PhieuThuePhong.MaKH AND
															dbo.ChiTietPhieuThue.MaPhieuThuePhong = PhieuThuePhong.MaPhieuThuePhong AND
															@MaKH = dbo.PhieuThuePhong.MaKH)
			 DELETE dbo.HoaDon WHERE dbo.HoaDon.MaPhieuThuePhong = (SELECT dbo.HoaDon.MaPhieuThuePhong
																		  FROM dbo.KhachHang, dbo.PhieuThuePhong, dbo.HoaDon
																		  WHERE dbo.KhachHang.MaKH = dbo.PhieuThuePhong.MaKH AND
																		  dbo.HoaDon.MaPhieuThuePhong = PhieuThuePhong.MaPhieuThuePhong AND
																		  @MaKH = dbo.PhieuThuePhong.MaKH)
			 DELETE dbo.PhieuThuePhong WHERE @MaKH = dbo.PhieuThuePhong.MaKH
			 DELETE dbo.KhachHang WHERE MaKH=@MaKH
	 END
GO
/****** Object:  StoredProcedure [dbo].[delEmp]    Script Date: 5/7/2020 1:57:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
	 CREATE PROC [dbo].[delEmp](@MANV VARCHAR(8))
	 AS
	 BEGIN
			 DELETE dbo.ChiTietPhieuThue 
			 WHERE dbo.ChiTietPhieuThue.MaPhieuThuePhong = (SELECT dbo.ChiTietPhieuThue.MaPhieuThuePhong 
															FROM dbo.NhanVien, dbo.PhieuThuePhong, dbo.ChiTietPhieuThue
															WHERE dbo.NhanVien.MaNV = dbo.PhieuThuePhong.MaNV AND
															dbo.ChiTietPhieuThue.MaPhieuThuePhong = PhieuThuePhong.MaPhieuThuePhong AND
															@MANV = dbo.PhieuThuePhong.MaNV)
			 DELETE dbo.HoaDon WHERE dbo.HoaDon.MaPhieuThuePhong = (SELECT dbo.HoaDon.MaPhieuThuePhong
																		  FROM dbo.NhanVien, dbo.PhieuThuePhong, dbo.HoaDon
																		  WHERE dbo.NhanVien.MaNV = dbo.PhieuThuePhong.MaNV AND
																		  dbo.HoaDon.MaPhieuThuePhong = PhieuThuePhong.MaPhieuThuePhong AND
																		  @MANV = dbo.PhieuThuePhong.MaNV)
			 DELETE dbo.PhieuThuePhong WHERE @MANV = dbo.PhieuThuePhong.MaNV
			 DELETE dbo.NhanVien WHERE MaNV=@MANV
	 END
GO
/****** Object:  StoredProcedure [dbo].[DSKHTP]    Script Date: 5/7/2020 1:57:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
	 CREATE PROC [dbo].[DSKHTP]
	 AS
	 BEGIN
		SELECT * FROM KhachHang
		WHERE KhachHang.MaKH IN (SELECT MaKH FROM dbo.PhieuThuePhong)
	 END
GO
/****** Object:  StoredProcedure [dbo].[DSNV]    Script Date: 5/7/2020 1:57:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
	 CREATE PROC [dbo].[DSNV]
	 AS
	 BEGIN
		  SELECT * FROM NhanVien
		  ORDER BY DAY(NgaySinh), MONTH(NgaySinh), YEAR(NgaySinh)
	 END
GO
/****** Object:  StoredProcedure [dbo].[getAcc1]    Script Date: 5/7/2020 1:57:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[getAcc1]
as
SELECT dbo.NhanVien.MaNV, dbo.NhanVien.HoTen, dbo.NhanVien.TenTk, dbo.NhanVien.MatKhau, 
CASE WHEN Quyen=0 THEN N'Lễ Tân' WHEN Quyen=1 THEN N'Quản Lý' 
END AS Quyen
FROM dbo.NhanVien
GO
/****** Object:  StoredProcedure [dbo].[getAccount]    Script Date: 5/7/2020 1:57:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[getAccount]
AS 
SELECT dbo.NhanVien.MaNV, dbo.NhanVien.HoTen, dbo.NhanVien.TenTk, dbo.NhanVien.MatKhau, Quyen,
CASE WHEN Quyen=0 THEN N'Lễ Tân' WHEN Quyen=1 THEN N'Quản Lý' 
END AS Quyen 
FROM dbo.NhanVien
GO
/****** Object:  StoredProcedure [dbo].[getallCus]    Script Date: 5/7/2020 1:57:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[getallCus]
AS SELECT * FROM dbo.KhachHang
GO
/****** Object:  StoredProcedure [dbo].[getallEmp]    Script Date: 5/7/2020 1:57:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[getallEmp]
AS SELECT dbo.NhanVien.MaNV, dbo.NhanVien.HoTen, NgaySinh, SDT FROM dbo.NhanVien
GO
/****** Object:  StoredProcedure [dbo].[getCusFrPhieuThue]    Script Date: 5/7/2020 1:57:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[getCusFrPhieuThue](@maphieuthue Varchar(30))
AS
BEGIN
SELECT KhachHang.MaKH, TenKH, SoCMND, KhachHang.SDT, DiaChi, HoTen FROM
dbo.NhanVien,dbo.KhachHang,dbo.PhieuThuePhong WHERE
dbo.KhachHang.MaKH = dbo.PhieuThuePhong.MaKH AND
dbo.NhanVien.MaNV = dbo.PhieuThuePhong.MaNV AND
@maphieuthue = MaPhieuThuePhong
end

GO
/****** Object:  StoredProcedure [dbo].[getIdMPT]    Script Date: 5/7/2020 1:57:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[getIdMPT]
AS
BEGIN
	SELECT dbo.PhieuThuePhong.MaPhieuThuePhong FROM dbo.PhieuThuePhong
end
GO
/****** Object:  StoredProcedure [dbo].[getIdNV]    Script Date: 5/7/2020 1:57:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[getIdNV](@TenTk varchar(30), @MatKhau varchar(30))
as
SELECT dbo.NhanVien.MaNV FROM dbo.NhanVien
WHERE dbo.NhanVien.TenTk = @TenTk AND  MatKhau = @MatKhau
GO
/****** Object:  StoredProcedure [dbo].[HTTT]    Script Date: 5/7/2020 1:57:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
	 CREATE PROC [dbo].[HTTT](@HTTT NVARCHAR(20))
	 AS
	 BEGIN
		SELECT KhachHang.MaKH, TenKH, DiaChi, SDT FROM dbo.KhachHang, dbo.PhieuThuePhong, dbo.ThanhToan
		WHERE dbo.KhachHang.MaKH = dbo.PhieuThuePhong.MaKH AND
		  dbo.ThanhToan.MaPhieuThuePhong = dbo.PhieuThuePhong.MaPhieuThuePhong AND
		  dbo.ThanhToan.HinhThucThanhToan = @HTTT
	 END
GO
/****** Object:  StoredProcedure [dbo].[logIn]    Script Date: 5/7/2020 1:57:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[logIn](@tentk varchar(30), @matkhau varchar(30))
AS
begin
SELECT * FROM dbo.NhanVien WHERE dbo.NhanVien.TenTk=@tentk AND dbo.NhanVien.MatKhau=@matkhau
end
GO
/****** Object:  StoredProcedure [dbo].[TENNV]    Script Date: 5/7/2020 1:57:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
	 CREATE PROC [dbo].[TENNV](@TenNV NVARCHAR(30))
	 AS
	 BEGIN
		  	SELECT * FROM NhanVien 
			WHERE HoTen LIKE @TenNV
	 END
GO
/****** Object:  StoredProcedure [dbo].[TIMNV]    Script Date: 5/7/2020 1:57:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
	 CREATE PROC [dbo].[TIMNV](@TenKH NVARCHAR(30))
	 AS
	 BEGIN
		  SELECT NhanVien.MaNV, NhanVien.HoTen, NhanVien.NgaySinh, NhanVien.SDT FROM NhanVien, PhieuThuePhong, KhachHang
		  WHERE PhieuThuePhong.MaKH = KhachHang.MaKH AND
		  NhanVien.MaNV = PhieuThuePhong.MaNV AND
		  KhachHang.TenKH = @TENKH 
	 END
GO
/****** Object:  StoredProcedure [dbo].[TKKH]    Script Date: 5/7/2020 1:57:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
	 CREATE PROC [dbo].[TKKH](@TenLoaiPhong NVARCHAR(30))
	 AS
	 BEGIN
		SELECT COUNT(MaKH) Soluong FROM dbo.PhieuThuePhong, dbo.LoaiPhong, dbo.Phong, dbo.ChiTietPhieuThue
		WHERE dbo.LoaiPhong.MaLoai = dbo.Phong.MaLoai AND
		  dbo.Phong.MaPhong = dbo.ChiTietPhieuThue.MaPhong AND
		  ChiTietPhieuThue.MaPhieuThuePhong = dbo.PhieuThuePhong.MaPhieuThuePhong AND
		  dbo.LoaiPhong.TenLoai = @TenLoaiPhong
	 END
GO
/****** Object:  StoredProcedure [dbo].[TKKHTHEOPHONG]    Script Date: 5/7/2020 1:57:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
	 CREATE PROC [dbo].[TKKHTHEOPHONG]
	 AS
	 BEGIN
		SELECT dbo.Phong.TenPhong, COUNT(*) slkhach FROM dbo.Phong, dbo.ChiTietPhieuThue
		WHERE dbo.Phong.MaPhong = dbo.ChiTietPhieuThue.MaPhong 
		GROUP BY TenPhong
	 END
GO
/****** Object:  StoredProcedure [dbo].[TKKHTHEOSOLANTHUE]    Script Date: 5/7/2020 1:57:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
	 CREATE PROC [dbo].[TKKHTHEOSOLANTHUE](@SOLANTHUE INT)
	 AS
	 BEGIN
		SELECT dbo.KhachHang.TenKH, COUNT(dbo.PhieuThuePhong.MaKH) solanthue FROM dbo.KhachHang, dbo.PhieuThuePhong
		WHERE dbo.PhieuThuePhong.MaKH  = dbo.KhachHang.MaKH 
		GROUP BY TenKH
		HAVING COUNT(dbo.PhieuThuePhong.MaKH) >= @SOLANTHUE
	 END
GO
/****** Object:  StoredProcedure [dbo].[TKKHTHEOSOPHONGTHUE]    Script Date: 5/7/2020 1:57:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
	 CREATE PROC [dbo].[TKKHTHEOSOPHONGTHUE](@SOPHONGTHUE INT)
	 AS
	 BEGIN
		SELECT dbo.KhachHang.TenKH, dbo.PhieuThuePhong.MaPhieuThuePhong, COUNT(dbo.ChiTietPhieuThue.MaPhieuThuePhong) SoPhongThueTrong1Lan FROM dbo.KhachHang, dbo.PhieuThuePhong, dbo.ChiTietPhieuThue
		WHERE dbo.PhieuThuePhong.MaKH = dbo.KhachHang.MaKH AND
			  ChiTietPhieuThue.MaPhieuThuePhong = dbo.PhieuThuePhong.MaPhieuThuePhong
			  GROUP BY TenKH, dbo.PhieuThuePhong.MaPhieuThuePhong
		      HAVING COUNT(dbo.ChiTietPhieuThue.MaPhieuThuePhong) >= @SOPHONGTHUE
	 END
GO
/****** Object:  StoredProcedure [dbo].[TKKHTHEOTHANG]    Script Date: 5/7/2020 1:57:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
	 CREATE PROC [dbo].[TKKHTHEOTHANG](@THANG CHAR(2))
	 AS
	 BEGIN
		SELECT COUNT(MaKH) Soluong FROM dbo.PhieuThuePhong, dbo.ChiTietPhieuThue
		WHERE ChiTietPhieuThue.MaPhieuThuePhong = dbo.PhieuThuePhong.MaPhieuThuePhong AND
			  MONTH(NgayVao) = @THANG
	 END
GO
/****** Object:  StoredProcedure [dbo].[TTKH]    Script Date: 5/7/2020 1:57:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
	 CREATE PROC [dbo].[TTKH](@MaKH CHAR(8))
	 AS
	 BEGIN
		SELECT * FROM KhachHang
		WHERE MaKH=@MaKH
	 END
GO
/****** Object:  StoredProcedure [dbo].[TTNV]    Script Date: 5/7/2020 1:57:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
	 CREATE PROC [dbo].[TTNV](@MaNV CHAR(8))
	 AS
	 BEGIN
			SELECT * FROM dbo.NhanVien
			WHERE MaNV=@MaNV
	 END
GO
/****** Object:  StoredProcedure [dbo].[updateAcc]    Script Date: 5/7/2020 1:57:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[updateAcc](@MANV VARCHAR(8), @tenTK varchar(30), @matkhau varchar(30), @quyen bit)
AS
BEGIN
	UPDATE NhanVien SET TenTk=@tenTK, MatKhau=@matkhau, Quyen=@quyen
	WHERE MaNV=@MANV;
END
GO
/****** Object:  StoredProcedure [dbo].[updateCus]    Script Date: 5/7/2020 1:57:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[updateCus](@MAKH VARCHAR(8), @TENKH NVARCHAR(30), @CMND CHAR(12), @DIACHI NVARCHAR(20), @SDT CHAR(12))
	 AS
	 BEGIN
		UPDATE KhachHang SET TenKH=@TENKH, SoCMND=@CMND, DiaChi=@DIACHI, SDT=@SDT 
		WHERE MaKH=@MAKH;
	 END
GO
/****** Object:  StoredProcedure [dbo].[updateEmp]    Script Date: 5/7/2020 1:57:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
	 CREATE PROC [dbo].[updateEmp](@MANV VARCHAR(8), @HOTEN NVARCHAR(30), @NGAYSINH DATE, @SDT CHAR(12))
	 AS
	 BEGIN
		UPDATE NhanVien SET HoTen=@HOTEN, NgaySinh=@NGAYSINH, SDT=@SDT
		WHERE MaNV=@MANV;
	 END
GO
/****** Object:  StoredProcedure [dbo].[wellCome]    Script Date: 5/7/2020 1:57:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[wellCome](@TenTk varchar(30), @MatKhau varchar(30))
as
SELECT dbo.NhanVien.HoTen FROM dbo.NhanVien 
WHERE dbo.NhanVien.TenTk = @TenTk AND MatKhau = @MatKhau
GO

---------------------------------------------------SƠN-------------------------------------------------
/****** Object:  StoredProcedure [dbo].[addSer]    Script Date: 5/5/2020 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[addSer](@MADV VARCHAR(8), @TENDV NVARCHAR(20), @DONGIA FLOAT,@MALOAIDICHVU VARCHAR(8))
	 AS
	 BEGIN
		INSERT INTO DichVu(MaDV, TenDV, DonGia, MaLoaiDV) 
		VALUES (@MADV, @TENDV, @DONGIA, @MALOAIDICHVU)
	 END
GO

/****** Object:  StoredProcedure [dbo].[DSDichVu]    Script Date: 5/5/2020 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[DSDichVu]
	 AS
	 BEGIN
		SELECT * FROM DichVu
	 END
GO

/****** Object:  StoredProcedure [dbo].[updateSer]    Script Date: 5/5/2020 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 CREATE PROC [dbo].[updateSer](@MADV VARCHAR(8), @TENDV NVARCHAR(20), @DONGIA FLOAT,@MALOAIDICHVU VARCHAR(8))
	 AS
	 BEGIN
		UPDATE DichVu SET TenDV=@TENDV, DonGia=@DONGIA, MaLoaiDV=@MALOAIDICHVU
		WHERE MaDV=@MADV;
	 END
GO

/****** Object:  StoredProcedure [dbo].[delSer]    Script Date: 5/5/2020 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[delSer](@MADV VARCHAR(8))
     AS
     BEGIN
     DELETE dbo.DichVu
     WHERE MaDV = @MADV
     END
GO

/****** Object:  StoredProcedure [dbo].[addTypeSer]    Script Date: 5/5/2020 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[addTypeSer](@MALOAIDV VARCHAR(8), @TENLOAIDV NVARCHAR(20))
	 AS
	 BEGIN
		INSERT INTO LoaiDichVu(MaLoaiDV, TenLoaiDV) 
		VALUES (@MALOAIDV, @TENLOAIDV)
	 END
GO

/****** Object:  StoredProcedure [dbo].[DSLoaDichVu]    Script Date: 5/5/2020 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[DSLoaiDichVu]
	 AS
	 BEGIN
		SELECT * FROM LoaiDichVu
	 END
GO

/****** Object:  StoredProcedure [dbo].[UpdateTypeSer]    Script Date: 5/5/2020 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 CREATE PROC [dbo].[updateTypeSer](@MALOAIDV VARCHAR(8), @TENLOAIDV NVARCHAR(20))
	 AS
	 BEGIN
		UPDATE LoaiDichVu SET TenLoaiDV=@TENLOAIDV
		WHERE MaLoaiDV=@MALOAIDV;
	 END
GO

/****** Object:  StoredProcedure [dbo].[delTypeSer]    Script Date: 5/5/2020 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[delTypeSer](@MALOAIDV VARCHAR(8))
     AS
     BEGIN
     DELETE dbo.LoaiDichVu
     WHERE MaLoaiDV = @MALOAIDV
     END
GO

/****** Object:  StoredProcedure [dbo].[addTypeRoom]    Script Date: 5/5/2020 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[addTypeRoom](@MALOAIPHONG VARCHAR(8), @TENLOAIPHONG NVARCHAR(30), @SONGUOI TINYINT, @GHICHU NVARCHAR(250))
	 AS
	 BEGIN
		INSERT INTO LoaiPhong(MaLoai, TenLoai, SoNguoi, GhiChu) 
		VALUES (@MALOAIPHONG,@TENLOAIPHONG ,@SONGUOI ,@GHICHU)
	 END
GO

/****** Object:  StoredProcedure [dbo].[DSLoaiPhong]    Script Date: 5/5/2020 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[DSLoaiPhong]
	 AS
	 BEGIN
		SELECT * FROM LoaiPhong
	 END
GO

/****** Object:  StoredProcedure [dbo].[UpdateTypeRoom]    Script Date: 5/5/2020 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 CREATE PROC [dbo].[updateTypeRoom](@MALOAIPHONG VARCHAR(8), @TENLOAIPHONG NVARCHAR(30), @SONGUOI TINYINT, @GHICHU NVARCHAR(250))
	 AS
	 BEGIN
		UPDATE LoaiPhong SET TenLoai=@TENLOAIPHONG, SoNguoi= @SONGUOI, GhiChu=@GHICHU
		WHERE MaLoai= @MALOAIPHONG;
	 END
GO

/****** Object:  StoredProcedure [dbo].[delTypeRoom]    Script Date: 5/5/2020 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[delTypeRoom](@MALOAIPHONG VARCHAR(8))
     AS
     BEGIN
     DELETE dbo.LoaiPhong
     WHERE MaLoai= @MALOAIPHONG
     END
GO

/****** Object:  StoredProcedure [dbo].[addRoom]    Script Date: 5/5/2020 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[addRoom](@MAPHONG VARCHAR(8), @TENPHONG NVARCHAR(30), @TINHTRANG TINYINT, @DIENTICH INT, @GIATHUE FLOAT, @MALOAI VARCHAR(8))
	 AS
	 BEGIN
		INSERT INTO Phong(MaPhong, TenPhong, TinhTrang, DienTich, GiaThue, MaLoai) 
		VALUES (@MAPHONG, @TENPHONG, @TINHTRANG, @DIENTICH, @GIATHUE, @MALOAI)
	 END
GO

/****** Object:  StoredProcedure [dbo].[DSPhong]    Script Date: 5/5/2020 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[DSPhong]
	 AS
	 BEGIN
		SELECT * FROM Phong
	 END
GO

/****** Object:  StoredProcedure [dbo].[UpdateRoom]    Script Date: 5/5/2020 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 CREATE PROC [dbo].[updateRoom](@MAPHONG VARCHAR(8), @TENPHONG NVARCHAR(30), @TINHTRANG TINYINT, @DIENTICH INT, @GIATHUE FLOAT, @MALOAI VARCHAR(8))
	 AS
	 BEGIN
		UPDATE Phong SET TenPhong=@TENPHONG, TinhTrang= @TINHTRANG, DienTich=@DIENTICH, GiaThue=@GIATHUE, MaLoai =@MALOAI
		WHERE MaPhong= @MAPHONG;
	 END
GO

/****** Object:  StoredProcedure [dbo].[delRoom]    Script Date: 5/5/2020 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[delRoom](@MAPHONG VARCHAR(8))
     AS
     BEGIN
     DELETE dbo.Phong
     WHERE MaPhong= @MAPHONG
     END
GO